{{ range . }}
<div class="card hiddable" data-tags="{{ replace .Title " " "_" | lower }}{{with .Params.tags}}{{range .}};{{replace . " " "_" | lower }}{{end}}{{end}}">
    <a class="card-img" href="{{ .Permalink | relURL }}">
        <img src="/min{{ .Params.picture }}" width="100%" height="100%">
    </a>
    <a class="card-content" href="{{ .Permalink | relURL }}">
        <h4>{{ .Title }}</h4>
        {{ .Date.Format "Jan 2006" }} -
        {{ with .Params.tags }}
        {{ range . }}
        <button href="{{ absURL "tags/" }}{{ lower . }}">{{printf . }}</button>
        {{ end }}
        {{ end }}
    </a>
</div>
{{ end }}
